{{- $environment := promptString "environment" -}}
[data]
  environment = "{{ $environment }}"

  {{ if eq $environment "home" }}
  email = "shawn@siefk.as"
  {{ end }}

  {{ if eq $environment "work" }}
  {{- $employer := promptString "Employer Name" -}}
  employer = "{{ $employer }}"
  {{- $email := promptString "Email Address" -}}
  email = "{{ $email }}"
  gpgkey = "E189795FEAF7239D"
  {{ end }}
